::selection{
	background-color:#f6a91d;}

.loghetti img{
	width: 150px;
	float: left;
	text-align: center;
}

.social{
	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 20px; 
	color: #ffffff;
	background-color: #eb0014;
	float: right;
	width: 50%;
	height: 60px;
}


.logo {
	text-align: left!important;
	font-family: Roboto, sans-serif;
	font-weight: 900;
	font-size: 115px;
	line-height: 115px;
	padding-top: 85px;

	
}

	.giallo{
		background-color:yellow;}
	.rosso{
		background-color:red;}
		.flex{width: 100%;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: row wrap;
    justify-content: space-around;
}

#back_to_top {

    position: fixed;
    bottom: 50px;
    right: 15px;
    cursor: pointer;
	z-index:10000;
	color:#333;
}

	#fasciauno{
		background-color:#eee;
		padding-bottom:0px;
		margin-top:45px;
		padding-top:25px;}	#fasciadue{
		background-color:#FFF;
		padding-bottom:0px;
		padding-top:25px;
	}	
	
	.navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
}

ul.nav.navbar-nav li a{
	font-family: Roboto, sans-serif!important;
	font-weight: 400 !important;
	font-size: 18px !important;
	color: #000 !important; 	
}


ul.nav.navbar-nav li a:hover{
	color: #eb0014 !important
}


.flex-caption{
	
	position: relative !important;
	text-align: left !important; 
	margin-top:10% !important;
}


.separtatorino {
	font-family: Roboto, sans-serif;
	font-weight: 900!important;
	font-size: 115px!important;
	color: #FFFFFF!important; 
	text-shadow: none !important;
	line-height: 115px;
}

.separtatorino2 {
	font-family: Roboto, sans-serif;
	font-weight: 900!important;
	font-size: 115px!important;
	color: #eb0014!important; 
	text-shadow: none !important;
	line-height: 115px;
}

.flex-caption h1 a{
	font-family: Roboto, sans-serif!important; 
	font-weight: 500 !important;
	font-size: 40px !important;
	color: #fff !important;
	text-shadow: none !important;	
}
	
.testo h2{
	font-family: Roboto, sans-serif!important; 
	font-weight: 400 !important;
	font-size: 24px !important;
	color: #000 !important; 
	text-align: center;
}
	
.testo p{
	color:#666666;
	font-family: 'Poppins', sans-serif !important; 
	font-size: 15px !important;
	text-align: center; 
	font-weight: 200 !important;	
}

.testo {
	margin-top: 55px; 
}

.calendario {
	margin-top: 100px;

}
	
.calendario h3{
	font-family: Roboto, sans-serif!important;
	font-weight: 700 !important;
	font-size: 48px !important;
	color: #000 !important; 
	text-align: left;
}

 #striscia{
	width: 100%;
	float:left; 
	 background-image: url("../images/fascia.webp");
	 background-repeat: repeat-x;	
}

.fotocalendar img{
	width: auto !important; 
	image-orientation: center !important;
	margin-top: 48px!important;
}

.fotocalendar  a{
	font-family: Roboto, sans-serif!important;
	font-weight: 700!important;
	font-size: 18px !important;
	color: #000 !important; 
	text-transform: uppercase !important; 	
	}

.fotocalendar h4{
	font-family: Roboto, sans-serif!important;
	font-weight: 700 !important;
	font-size: 18px !important;
	color: #000 !important; 
	text-transform: uppercase !important; 
	text-align: left;	
	}



.fotocalendar h5{
	font-family: Roboto, sans-serif!important;
	font-weight: 700 !important;
	font-size: 18px !important;
	color: #000 !important; 
	text-transform: uppercase !important; 
	text-align: left;	
	}

.tipologia {
	font-family: Roboto, sans-serif!important;
	font-weight: 300px!important;
	color: #808080!important;
	font-size: 16px!important;
	font-style: italic!important;
	padding-top: 30px ;

}
.fotocalendar h6{
	font-family: Roboto, sans-serif!important;
	font-weight: 700 !important;
	font-size: 18px !important;
	color: #000 !important; 
	text-transform: uppercase !important; 
	text-align: left!important;
	}

.infobase {
	font-family: Roboto, sans-serif!important;
	font-size: 18px!important; 
	font-weight: 400!important; 
	text-align: left!important; 
	
}

.descrizione {
	font-family:Roboto, sans-serif!important; 
	font-size: 16px !important;
	font-weight: 200 !important;
	text-align: left !important; 
	margin-top: 15px;	
}

.acquista a{
	font-family:Roboto, sans-serif !important;
	font-size: 16px !important;
	font-weight: 400 !important; 
	color: #ffff!important;

}

.acquista{
	text-align: center!important;
	background-color: #000!important; 
	border-radius: 25px;
	padding-top: 13px;
	padding-bottom: 13px;
	margin-top: 30px;
	width: 155px;
	float: right ;

	
}
.acquista:hover{
	background-color: #eb0014!important; 
	
}

.acquista a:hover{
	text-decoration: none!important; 
}

.programma img{
	margin-top: 70px;
    width: 266px;
	float: right;
}

#tripartito {
	width: 100% !important; 
	float:left !important; 
	margin-top: 240px!important; 
}


.identità img{
	width:100% !important;	
}


.identità a{
	font-family: 'Cinzel', serif !important;
	font-size: 36px !important; 
	font-weight: 400 !important; 
	margin-top: -70px!important; 
	display: table!important;
	color: white!important; 
	text-shadow: 2px 4px 5px rgba(0,0,0,1)!important; 
	margin-left: 20px!important;
}

.identità {
	padding-left: 0px!important; 
	padding-right: 0px !important; 
}



#tripartito .row{
	column-gap: 5px!important; 
	display: flex!important; 
}



.paolo h8{
	font-family: 'Cinzel', serif !important;
	font-size: 36px !important; 
	font-weight: 400 !important; 
	color: black!important; 
	margin-top: 185px!important; 
	display: table!important;
	margin-left: auto!important;
	margin-right: auto!important;
	margin-bottom: 50px!important;  
}

.approfondimento a{
	font-family: 'Cinzel', serif !important; 
	font-size: 24px !important; 
	color: black!important; 
    margin-top: 40px!important; 
	display: table!important;	
}


.approfondimento p1{
	font-family: 'Poppins', sans-serif !important; 
	font-size: 14px !important;
	color: black!important;
	font-weight: 300 !important; 
	margin-top: -30px!important; 
	display: table!important;	
}

.piante img{
	width: auto!important; 
	float:left!important;
}

.piante a{
	font-family: 'Cinzel', serif !important; 
	font-size: 24px !important; 
	color: black!important; 
	text-decoration:none!important; 
	text-align: left!important; 
	color: black!important; 
	text-transform: initial!important;	
}

.piante p{
	font-family: 'Poppins', sans-serif !important; 
	font-size: 14px !important;
	color: black!important;
	font-weight: 100 !important;	
}

.piante p{
	font-family: 'Poppins', sans-serif !important; 
	font-size: 14px !important;
	color: black!important;
	font-weight: 100 !important; 
	margin-left: 30px!important;	
}

.info {
	font-family: 'Cinzel', serif !important;
	font-size: 24px !important;
	color: black!important; 
	margin-top: -100px!important; 
	display: table!important;
	background-color: #FFFFFF!important;
	position: relative!important; 
	width: 95px;
    height: 95px;
    font-weight: 700!important;
	margin-left:15px!important; 
	margin-bottom: 30px!important;
	text-align: center!important; 
	padding-top: 10px;
}

.date {
	font-family: 'Poppins',sans-serif  !important; 
	font-size: 14px !important;
	color: black!important;
	font-weight: 300 !important; 
}

 #novità {
		width: 100%  !important;
		float: left !important;
		height: 1000px  !important;
		background-attachment: fixed  !important;
		margin-top: 200px  !important;
		background-size: 100% auto  !important;
		background-image: url("../images/foglia.webp")!important;
	  }



.novità img{
	width: 100%!important; 
	height: 1200!important; 
	background-attachment: fixed!important; 
	background-position: center!important; 
	background-repeat:no-repeat!important; 
	background-size: 100% auto!important; 
	margin-bottom: 380px!important; 
	margin-top: 250px!important; 
	
}

.vernaccia {
	font-family: 'Poppins',sans-serif  !important; 
	font-size: 40px!important; 
	font-weight: 300!important; 
	margin-top: 20%!important;
	display: table!important; 
	color: #FFFFFF!important; 
	text-transform: initial!important;
}
	 
	
	

.degustazioni {
	font-family: 'Poppins',sans-serif  !important; 
	font-size: 40px!important;
	font-weight: 900!important; 
	color: #FFFFFF!important;
	text-align: left!important; 
	text-transform: initial!important;
	
}

.offerte {
	 font-family: 'Yellowtail'!important;
	 font-size: 40px!important;
     font-weight: 400!important;
     color: #ffffff!important;
     text-align: right!important;
	 width: 100%!important;
	 margin-top: 10px!important;
	}

.bottone{
		font-size: 20px!important;
		font-weight: 300!important;
		margin-top: 70px!important;
		padding-top: 15px!important;
		width: 286px!important;
		height: 60px!important;
		border: 1px solid #fff!important;
		text-align: center!important;
		margin-left: auto!important;
		margin-right: auto!important;
	  }

.bottone a{
		color: #fff !important;
		text-decoration: none !important;
	  }


 #icone{
		background-color: #000;
		float: left;
		width: 100%;
		margin-top: 300px;
		margin-bottom: 140px;
	  }


.icone {
		text-align: center !important;
		align-items: center !important; 
	}

 .icone a{
		font-family: 'Cinzel', serif !important;
		font-size: 30px !important;
		text-decoration: none !important;
		color: #fff !important;
		text-transform: uppercase!important;
		margin-left: -20px !important;
	  }

.cerchio {
		background-color: #ffffff;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		margin-top: -150px;
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		margin-bottom: 30px;
		margin-right: auto!important;
		margin-left: auto!important;
	  }

 .fa-solid.fa-newspaper, .fa-solid.fa-film, .fa-solid.fa-utensils, .fa-solid.fa-bed {
		color: #91b3bc;
	  }




 #piede{
		background-color: #000;
		width: 100%;
		display: flex;
	  }

	  .ciccia{
		margin-top: 80px !important;
		margin-bottom: 80px !important;
	  }

	  .ciccia a{
		font-family: 'Poppins', sans-serif !important ;
		color: #fff !important;
		font-weight: 300 !important;
		font-size: 14px !important ;
	    text-decoration: none !important;
	    text-align: left!important;
	  }

	  .Societa {
		font-size: 18px;
		font-family: 'Cinzel', serif;
		font-weight: 400;
		color: #fff!important;
	  }

	  .ciccia p{
		font-family: 'Poppins', sans-serif!important ;
		color: #fff;
		font-weight: 300!important;
		font-size: 14px!important;
		text-align: left!important;
		text-transform: initial!important;
	  }

.ciccia a{
	text-decoration: none;
	color: #fff;
	font-family: 'Poppins', sans-serif!important ;
	font-weight: 300!important;
	font-size: 14px!important;
	text-align: left!important;
	text-transform: initial!important;

	  }

	.fa-brands {
		color: #fff;
	}

	
	.fa-brands a{
		color: #fff;
	}

	.p{
		text-align: right;
	}

	p.privacy{
		margin-top: 160px;
	}

	p.privacy a{
		font-family: 'Poppins', sans-serif ;
		color: #fff;
		font-weight: 100 ;
		font-size: 14px  ;
		text-decoration: none;
		width: 113px;

	}




	  @media screen and (max-width: 992px) {
		#selezionevini{
			background-image: none!important;
			background-color: #fff;
		}
	  }